.custom-file-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px 12px;
  .img-block{
    max-width: 300px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
    img{
      max-width: 100%;
    }
  }
  p{
    margin-bottom: 10px;
  }
}
.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.file-input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_container .form-add-article .file-input label {
  position: relative;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  background: #ccc;
  border: 1px solid rgb(63, 62, 62);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 15px;
  font-family: inherit;
  cursor: pointer;
  transition: transform .2s ease-out;
  margin-right: 10px;
  &:hover{
    transition: all .2s ease-out;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  }
}
