.articles{
  padding: 10px;
  &__articles-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .articles-list__card{
      max-width: 250px;
      padding: 25px;
      margin: 0 0 35px 0;
      background-color:rgb(49, 49, 77);
      box-shadow: 2px 3px 45px rgb(49, 49, 77);
      color: rgb(235, 239, 243);
      border-radius: 5px;
      h4{
        margin-bottom: 15px;
      }
      .article-text{
        font-size: 13px;
        font-style: italic;
        margin-bottom: 50px;
      }
    }
  }
}
.btn-open-article{
  color: rgb(75, 73, 73);
  transition: all .2s ease-in 0s;
  &:hover{
    // background-color: rgb(174, 175, 175);
    opacity: 0.8;
    // color: #fff;
    transition: all .3s ease-out 0s;
  }
}

@media (max-width: 768px){
  .articles-list__container{
    flex-direction: column;
  }
}

