.current-article{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
  .current-article__body{
    padding: 25px;
    background-color:rgb(49, 49, 77);
    box-shadow: 2px 3px 45px rgb(49, 49, 77);
    .img-block{
      box-shadow: 2px 3px 5px rgb(73, 73, 121);
      max-width: 300px;
      max-height: 150px;
      overflow: hidden;
      float: left; 
      margin: 15px 20px 7px 0;
      img{
        max-width: 100%;
      }
    }
  }
}

@media(max-width: 768px){
  .current-article .current-article__body .img-block{
   margin: 0;
   float: none;
 }

}