.modal-window{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .modal_container{
    padding: 20px;
    background-color: rgb(190, 190, 190);
    width: 550px;
    margin: 100px auto;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 3px rgb(190, 190, 190);
    .textarea-reg-form{
      height: 400px;
      text-align: justify;
      padding-right: 5px;
    }
  }
}
@media(max-width: 768px){
  .modal-window .modal_container{
    max-width: 300px;
    .textarea-reg-form{
      height: 250px;
    }
  }
}